/*!
 * CSS property variable mixins and utilities.
 *
 * Author: Julian Schönbächler (https://julian-s.ch/ | info@julian-s.ch)
 * Copyright: Julian Schönbächler, 2025
 * License: MPL-2.0
 */

@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@function flatten-variable-map($variable-map, $variable-name: "-", $flatten: ()) {
    @if meta.type-of($variable-map) == "map" {
        @each $key, $value in $variable-map {
            $flatten: flatten-variable-map($value, "#{$variable-name}-#{$key}", $flatten);
        }
    } @else {
        $flatten: map.set($flatten, $variable-name, $variable-map);
    }

    @return $flatten;
}

@function var-get-name($variable) {
    $name: "-";

    @if meta.type-of($variable) == "string" {
        $name: "--#{$variable}";
    } @else {
        @each $key in $variable {
            $name: "#{$name}-#{$key}";
        }
    }

    @return $name;
}

@function var-get-value($variable, $variable-map: (), $fallback: null) {
    @if meta.type-of($variable) == "string" {
        $variable: string.split($variable, "-");
    }

    $value: map.get($variable-map, $variable...);

    @if $value {
        @return $value;
    }

    @return $fallback;
}

@function css-var($variable, $variable-map: (), $fallback: null) {
    $name: var-get-name($variable);
    $value: var-get-value($variable, $variable-map, $fallback);

    @if $value {
        @return string.unquote("var(#{$name}, #{$value})");
    } @else {
        @return string.unquote("var(#{$name})");
    }
}

@mixin declare($variable-map: ()) {
    @each $variable-name, $value in flatten-variable-map($variable-map) {
        #{$variable-name}: $value;
    }
}

@mixin get($property, $variable, $variable-map: (), $fallback: null, $write-static: false) {
    $name: var-get-name($variable);
    $value: var-get-value($variable, $variable-map, $fallback);

    @if $write-static {
        @if $value {
            #{$property}: $value;
            #{$property}: var(#{$name}, #{$value});
        } @else {
            #{$property}: var(#{$name});
        }
    } @else {
        @if $value {
            #{$property}: var(#{$name}, #{$value});
        } @else {
            #{$property}: var(#{$name});
        }
    }
    @debug $name;
}
